* {
    border: none;
    /*border-radius: 10;*/
    font-family: "JetbrainsMono Nerd Font" ;
    font-size: 15px;
    /*font-weight: bold;*/
    min-height: 10px;
}

window#waybar {
    background-color: rgba(20, 20, 20, 0.9);
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    /*padding: 0 5px;*/
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    /*border: none;*/
    /*border-radius: 0;*/
    /*font-weight: bold;*/
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
    /*box-shadow: inset 0 -1px #ffffff;*/
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    background-color: #eb4d4b;
}

#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #212E52;*/
    color: #212E52;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    /*font-size: 14px;*/
    font-weight: bold;
}

#tags {
    margin-top: 6px;
    margin-left: 12px;
    font-size: 4px;
    margin-bottom: 6px;
    border-radius: 10px;
    background: #161320;
    transition: none;
}

#tags button {
    transition: none;
    color: #B5E8E0;
    background: transparent;
    font-size: 16px;
    border-radius: 2px;
}

#tags button.occupied {
    transition: none;
    color: #F28FAD;
    background: transparent;
    font-size: 4px;
}

#tags button.focused {
    color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #C5B4E3;*/
    color: #C5B4E3;
}

#pulseaudio {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #1A1826;*/
    /*background: #FAE3B0;*/
    color: #FAE3B0;
}

#battery {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #B5E8E0;*/
    color: #B5E8E0;
}

#battery.charging, #battery.plugged {
    /*color: #161320;*/
    /*background-color: #B5E8E0;*/
    color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #FFFFFF;*/
    color: #FFFFFF;
}

#clock {
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #ABE9B3;*/
    color: #ABE9B3;
}

#memory {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #90EE90;*/
    color: #90EE90;
}
#cpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #96CDFB;*/
    color: #96CDFB;
}

#temperature {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #F8BD96;*/
    color: #F8BD96;
}

#idle_inhibitor {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #FFFAFA;
    /*color: #FFFFFF;*/
}

#bluetooth {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    background: #0082FC;
    color: #FFFFFF;
}

#tray {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 6px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    /*color: #B5E8E0;*/
    /*background: #161320;*/
}

#custom-launcher {
    font-size: 26px;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #89DCEB;
    /*background: #161320;*/
}

#custom-power {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F28FAD;
}

#custom-wallpaper {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #C9CBFF;
}

#custom-updates {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #E8A2AF;
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #F2CDCD;*/
    /*color: #F2CDCD;*/
    color: rgb(102, 220, 105);
}

#gamemode {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #161320;*/
    /*background: #ABE9B3;*/
    color: #ABE9B3;
}

#custom-check_pi {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #1A1826;*/
    /*background: #FAE3B0;*/
    color: #FAE3B0;
}

#custom-check_vsyscall32 {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #1A1826;*/
    /*background: #FAE3B0;*/
    background: #FAE3B0;
}

#custom-max_render_time {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #1A1826;*/
    /*background: #FAE3B0;*/
    color: #FAE3B0;
}

#custom-check_vrr {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #1A1826;*/
    /*background: #FAE3B0;*/
    color: #FAE3B0;
}

#custom-check_otd {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: none;
    /*color: #1A1826;*/
    /*background: #FAE3B0;*/
    color: #FAE3B0;
}
